
.page-content {
    text-transform: uppercase;
    color: #fff;
    /* font-family: 'Pathway Gothic One', sans-serif; */
}

.header {
    background-color: #3399ff;
    border:2px solid #3465a4;
    margin: 10px;
}

.header-inner {
    margin: 20px;
}

.header-inner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-inner-text {
    text-align: center;
    margin-bottom: 10px;
}

.slideshow-inner img {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact {
    /* width: 100%; */
    background-color: #3399ff;
    border:2px solid #3465a4;
    margin: 10px 10px 0 10px;
}

.contact-inner {
    text-align: center;
    padding: 10px;
}

.contact-inner-reachability {
    display: flex;
    justify-content: center;
}

.contact-inner-reachability table {
    align-self: center;
}

.portfolio {
    /* width: 100%; */
    background-color: #3399ff;
    border:2px solid #3465a4;
    margin: 10px 10px 0 10px;
    padding: 10px;
}

.portfolio-inner {
    text-align: center;
}

footer {
    background-color: #3399ff;
    border:2px solid #3465a4;
    margin: 10px 10px 0 10px;
    padding: 10px;
}

.footer-inner {
    text-align: center;
}

.footer-inner-impressum {
    font-size: smaller;
}

/* popup */
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 80%;
    margin: 20px auto;
  }

.white-popup h2 {
	text-align: center;
}

.white-popup img {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

  .white-popup-agb {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 70%;
    height: 800px;
    margin: 20px auto;
  }


  a {
      text-decoration: none;
      text-decoration-color: none;
      color: #fff;
  }

  a:hover {
	  color: #3465a4;
  }

  ul {
	padding: 20px;
  }

  ul:nth-child(2) {
	  padding: 0 20px 0 20px;
  }

  /* picture */

.photo-inner img{
    max-width: 500px;
}

/* Shauraum Button */
.shauraum-button {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.shauraum-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.shauraum-button:active {
	position:relative;
	top:1px;
}

/* Sanitär Button */
.sanitaer-button {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.sanitaer-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.sanitaer-button:active {
	position:relative;
	top:1px;
}


@media screen and (max-width: 768px) {
	.white-popup {
		max-width: 100%;
	}

	.white-popup img {
		max-width: 80%;
	}

	.white-popup-agb {
		max-width: 100%;
	}
}
