
.page-content {
    text-transform: uppercase;
    color: #fff;
    /* font-family: 'Pathway Gothic One', sans-serif; */
}

.header {
    background-color: #3399ff;
    border:2px solid #3465a4;
    margin: 10px;
}

.header-inner {
    margin: 20px;
}

.header-inner img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-inner-text {
    text-align: center;
    margin-bottom: 10px;
}

.slideshow-inner img {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.contact {
    /* width: 100%; */
    background-color: #3399ff;
    border:2px solid #3465a4;
    margin: 10px 10px 0 10px;
}

.contact-inner {
    text-align: center;
    padding: 10px;
}

.contact-inner-reachability {
    display: flex;
    justify-content: center;
}

.contact-inner-reachability table {
    align-self: center;
}

.portfolio {
    /* width: 100%; */
    background-color: #3399ff;
    border:2px solid #3465a4;
    margin: 10px 10px 0 10px;
    padding: 10px;
}

.portfolio-inner {
    text-align: center;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
  }